@import url("reactflow/dist/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* We're making heavy use of Tailwind's @apply here. If we ever start messing
our Tailwind config we can be sure the right CSS will get generated here, too.
*/

h1, h2, h3, h4, h5, h6 {
    /* This is our thicccboi font */
    @apply font-title;
}

/* We don't apply these classes to `.prose` completely so we can do nice looking
things like have full-width images or graphs but keep text in a tight column.
*/
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6, .prose p {
    @apply max-w-xl mx-auto p-4;
}

/* Stying on Radix components */

div[data-radix-collection-item] * {
    @apply select-none cursor-default;
}


/* ReactFlow themeing: https://reactflow.dev/docs/guides/theming/#react-flow-class-names 

I've kept all the empty classes here so it's easy to tweak and add in the future,
rather than going back-and-forth with the docs trying to find the class we need.
*/

.react-flow {}

.react-flow__renderer {}

.react-flow__zoompane {}

.react-flow__selectionpane {}

.react-flow__selection {}

.react-flow__edges {}

.react-flow__edge {}

.react-flow__edge.selected {}

.react-flow__edge.animated {}

.react-flow__edge-path {}

.react-flow__edge-text {}

.react-flow__edge-textbg {}

.react-flow__connection {}

.react-flow__connection-path {}

.react-flow__nodes {}

.react-flow__node {
    cursor: unset;
}

.react-flow__node .drag {
    cursor: pointer;
}

.react-flow__node.dragging .drag {
    cursor: grab
}

.react-flow__node.selected {}

.react-flow__node-default {}

.react-flow__node-input {}

.react-flow__node-output {}

.react-flow__nodesselection {}

.react-flow__nodesselection-rect {}

.react-flow__handle {
    /*  */
    border-radius: unset;
    left: unset;

    @apply w-3 h-3;
}

.react-flow__handle-bottom {}

.react-flow__handle-top {}

.react-flow__handle-left {
    @apply rounded-l -left-2;
}

.react-flow__handle-right {
    @apply rounded-r -right-2;
}

.react-flow__handle-connecting {}

.react-flow__handle-valid {}

.react-flow__background {}

.react-flow__minimap {}

.react-flow__controls {}

/* Custom fonts ------------------------------------------------------------- */

@font-face {
    font-family: 'thiccc';
    src: url('/fonts/THICCCBOI-ThicccAF.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'thiccc';
    src: url('/fonts/THICCCBOI-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-SemiBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Thiccc';
    src: url('/fonts/THICCCBOI-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}